[packages]
black = "*"
flake8 = "*"
isort = "*"
loguru = "*"
mkdocs = "*"
pip = "*"
python-dotenv = "*"
tqdm = "*"
typer = "*"
"learn_convnet" = {editable = true,  path = "."}
kaggle = "*"
tensorflow = "*"
pandas = "*"
seaborn = "*"

[requires]
python_version = "3.11"

[dev-packages]
ipykernel = "*"
